.panel {
  position: fixed;
  top: 0;
  #{$end-direction}: 0;
  width: 340px;
  height: 100%;
  background: var(--sidebar-default-bg-color);
  border-#{$start-direction}: 1px solid var(--sidebar-default-border-color);
  transition: all 0.3s;
  transform: translateX(calc(100% * #{$transform-direction}));
  z-index: 11;

  &.is-active {
    transform: translateX(0);
  }

  &.is-pushed {
    transform: translateX(calc(100% * #{$transform-direction}));
  }

  .panel-header {
    height: 80px;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 0.9rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .close-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 44px;
      background: none;
      border: none;
      color: var(--light-text);
      font-size: 1.25rem;
      transition: background-color 0.3s;
      cursor: pointer;

      &:hover {
        background: var(--wrap-muted-color);
      }
    }
  }

  .panel-calendar {
    height: 310px;
    padding: 0 1.5rem 1.5rem 1.5rem;

    .calendar-button {
      margin-top: 1rem;

      .button {
        min-height: 48px;

        span {
          margin-#{$start-direction}: 0.25rem;
        }
      }
    }
  }

  .panel-conversations-header {
    height: 40px;
    padding: 0 1.5rem;
    margin-top: -0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 0.75rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  .panel-conversations-body {
    height: calc(100% - 420px);
    overflow-y: auto;
    padding: 0 1.5rem 1.5rem 1.5rem;

    .panel-conversation {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0.75rem;
      border-radius: 0.85rem;
      transition: background-color 0.3s;

      .meta {
        margin-#{$start-direction}: 0.5rem;

        span {
          display: block;
          line-height: 1.2;

          &:first-child {
            font-family: var(--font-alt);
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--title-color);
          }

          &:nth-child(2) {
            font-family: var(--font);
            font-size: 0.75rem;
            color: var(--light-text);
          }
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 36px;
        background: var(--wrap-bg-color);
        padding: 0;
        border: 0;
        margin-#{$start-direction}: auto;

        .iconify {
          color: var(--medium-text);
          transition: color 0.3s;
        }
      }

      &:hover {
        background: var(--wrap-muted-color);

        button {
          .iconify {
            color: var(--title-color);
          }
        }
      }
    }
  }
}

.panel-trigger {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background: transparent;

  .iconify {
    color: var(--medium-text);
  }

  &:hover {
    background: var(--wrap-muted-color);
  }
}

//RTL adjustment
[dir="rtl"] .panel {
  .panel-header {
    .close-button {
      transform: rotate(180deg);
    }
  }

  .panel-conversations-body {
    .panel-conversation {
      button {
        transform: rotate(180deg);
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .panel {
    transform: translateX(0);
    box-shadow: none;
    border-color: transparent;
    background: var(--wrap-muted-color);

    &.is-active {
      transform: translateX(0);
    }

    &.is-pushed {
      transform: translateX(calc(250px * #{$transform-direction})) !important;
    }
  }

  .panel-header {
    .close-button {
      display: none !important;
    }
  }

  .panel-trigger {
    display: none !important;
  }

  .panel-conversations {
    .panel-conversation {
      &:hover {
        background-color: var(--wrap-bg-color) !important;
      }
    }
  }
}
