/*
    1. Hamburger menu icon
*/

@use "sass:math";

/* ==========================================================================
1. Hamburger menu icon
========================================================================== */

.menu-toggle {
  font-size: 20px;
  color: var(--light-text);
  line-height: 48px;
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.4s;
  opacity: 1;
  position: relative;
  top: 2px;

  .icon-box-toggle {
    background: transparent;
    position: relative;
    display: block;
    width: 30px;
    height: 22px;

    &:not(.is-navbar) {
      &.active > .rotate {
        /*transform*/
        transform: translate(0px, 0px) rotate(90deg);
      }
    }

    &.active .icon-line-center {
      visibility: hidden;
      width: 1px;
      height: 3px;
      #{$start-direction}: 70%;
    }

    &.active .icon-line-bottom {
      margin: -2px 0 0 -10px;
      #{$start-direction}: 50%;
      top: 12px;

      /*transform*/
      transform: translate(0px, 0px) rotate(135deg);
    }

    &.active .icon-line-top {
      margin: -2px 0 0 -10px;
      #{$start-direction}: 50%;
      top: 12px;

      /*transform*/
      transform: translate(0px, 0px) rotate(45deg);
    }
  }

  .rotate {
    display: block;
    width: 30px;
    height: 22px;
  }

  .icon-line-center {
    position: absolute;
    width: 20px;
    height: 1px;
    background: var(--light-text);
    margin: -1px 0 0 -10px;
    #{$start-direction}: 50%;
    top: 11px;
    transition: all 0.2s ease;
  }

  .icon-line-top {
    position: absolute;
    width: 20px;
    height: 2px;
    background: var(--light-text);
    margin: -3px 0 0 -10px;
    #{$start-direction}: 50%;
    top: 7px;
    transition: all 0.2s ease;
  }

  .icon-line-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    background: var(--light-text);
    margin: 2px 0 0 -10px;
    #{$start-direction}: 50%;
    top: 14px;
    transition: all 0.2s ease;
  }
}

/* ==========================================================================
Menu Icon
========================================================================== */

$menu-icon-size: 1.6rem;
$menu-icon-dash-width: 0.75em; //em(4.5rem, 6rem)
$menu-icon-dash-width-sliced: 0.35em;
$menu-icon-dash-height: 0.05em; //em(0.3rem, 6rem)
$menu-icon-dash-gutter: $menu-icon-dash-height * 5;
$menu-icon-dash-color: var(--light-text);
$menu-icon-dash-border-radius: 0;

%menu-dash {
  display: block;
  position: absolute;
  top: 50%;
  #{$start-direction}: math.div((1em - $menu-icon-dash-width), 2); // center X
  background-color: $menu-icon-dash-color;
  width: $menu-icon-dash-width;
  height: $menu-icon-dash-height;
  border-radius: $menu-icon-dash-border-radius;
}

.menu-icon {
  font-size: $menu-icon-size;
  width: 1em;
  height: 1em;
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  cursor: pointer;

  > * {
    pointer-events: none !important;
  }

  span {
    @extend %menu-dash;

    margin-top: math.div($menu-icon-dash-height, 2);
  }

  &:before {
    content: "";

    @extend %menu-dash;

    width: $menu-icon-dash-width-sliced;
    margin-top: -$menu-icon-dash-gutter + math.div($menu-icon-dash-height, 2);
  }

  &:after {
    content: "";

    @extend %menu-dash;

    margin-top: $menu-icon-dash-gutter + math.div($menu-icon-dash-height, -2);
  }
}

.v-1 {
  &:before,
  &:after,
  span {
    transition: 0.25s ease-in-out;
  }

  &.is-open {
    &:before {
      transform: rotate(135deg);
      margin-top: math.div($menu-icon-dash-height, -2);
    }

    &:after {
      transform: rotate(-135deg);
      margin-top: math.div($menu-icon-dash-height, -2);
    }

    span {
      opacity: 0;
      transform: translateX(150%);
    }
  }
}

.v-2 {
  &:before,
  &:after {
    display: none;
  }

  span {
    transition: 0.25s ease;

    &:before,
    &:after {
      @extend %menu-dash;

      content: "";
      transition: 0.25s ease;
      top: 0;
      #{$start-direction}: 0;
    }

    &:before {
      transform: translateY(-$menu-icon-dash-gutter);
    }

    &:after {
      transform: translateY($menu-icon-dash-gutter);
    }
  }

  &.is-open {
    span {
      transform: rotate(45deg);

      &:before,
      &:after {
        transform: rotate(90deg);
      }
    }
  }
}

.v-3 {
  &:before,
  &:after {
    transition: 0.2s ease 0.2s;
  }

  &:after {
    #{$start-direction}: auto;
    #{$end-direction}: math.div((1em - $menu-icon-dash-width), 2);
  }

  span {
    transition: 0.2s;

    &:before {
      @extend %menu-dash;

      content: "";
      transition: inherit;
      #{$start-direction}: 0;
      top: 0;
    }
  }

  &.is-open {
    &:before,
    &:after {
      transition: 0.2s ease;
      width: 0;
    }

    span {
      transform: rotate(45deg);
      transition: 0.2s ease 0.2s;

      &:before {
        transform: rotate(-90deg);
      }
    }
  }
}

.v-4 {
  &:before,
  &:after {
    display: none;
  }

  span {
    transition: 0.25s ease;

    &:before,
    &:after {
      @extend %menu-dash;

      content: "";
      top: 0;
      #{$start-direction}: 0;
      transition: inherit;
      margin: 0;
    }

    &:before {
      transform: translateY(-$menu-icon-dash-gutter);
    }

    &:after {
      transform: translateY($menu-icon-dash-gutter);
    }
  }

  &.is-open {
    span {
      transform: rotate(180deg);

      &:before,
      &:after {
        width: math.div($menu-icon-dash-width, 2);
        #{$start-direction}: 0.02em;
      }

      &:before {
        transform: rotate(-45deg) translateY(-0.17em);
      }

      &:after {
        transform: rotate(45deg) translateY(0.17em);
      }
    }
  }
}

.v-5 {
  &:before,
  &:after {
    display: none;
  }

  span {
    transition: 0.25s ease;

    &:before,
    &:after {
      @extend %menu-dash;

      content: "";
      top: 0;
      #{$end-direction}: 0;
      #{$start-direction}: auto;
      transition: inherit;
      margin: 0;
    }

    &:before {
      transform: translateY(-$menu-icon-dash-gutter);
    }

    &:after {
      transform: translateY($menu-icon-dash-gutter);
    }
  }

  &.is-open {
    span {
      transform: rotate(-180deg);

      &:before,
      &:after {
        width: math.div($menu-icon-dash-width, 2);
        #{$end-direction}: 0.02em;
      }

      &:before {
        transform: rotate(-45deg) translateY(0.17em);
      }

      &:after {
        transform: rotate(45deg) translateY(-0.17em);
      }
    }
  }
}
