.page-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  .page-placeholder-inner {
    text-align: center;
    padding-top: 2rem;

    img {
      display: block;
      width: 100%;
      max-width: 540px;
      margin: 0 auto;
    }

    p {
      font-size: 1rem;
      max-width: 540px;
      margin: 0 auto 1rem auto;
      color: var(--medium-text);
    }
  }
}
