.calendar-widget-container {
  @include zodCard();

  padding: 2rem;
  margin-bottom: 2.5rem;

  .calendar-widget-footer {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    margin-top: 1rem;

    span {
      display: block;
      font-family: var(--font);
      font-size: 0.9rem;
      color: var(--primary);
      margin-#{$start-direction}: 0.5rem;
    }
  }
}

.calendar-widget {
  .calendar-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    .month {
      display: flex;
      align-items: center;
      color: var(--title-color);
      padding-#{$start-direction}: 0.5rem;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .action-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        min-width: 32px;
        border-radius: 50%;
        color: var(--wrap-muted-color);
        transition: all 0.3s;

        .iconify {
          color: var(--light-text);
          transition: color 0.3s;
        }
      }
    }
  }

  .calendar {
    color: var(--title-color);
    font-size: 12px;
    font-family: var(--font);
    width: 100%;
    margin-bottom: 5px;

    thead,
    tbody {
      width: 100%;
    }
  }

  .calendar thead {
    color: var(--medium-text);
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
  }

  .calendar td {
    padding: 0.5em 0;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
  }

  .calendar tbody td:hover {
    background: var(--wrap-muted-color);
    color: var(--primary);
  }

  .current-day {
    color: var(--white-smoke);
    font-weight: 600;
    background: var(--secondary);
  }

  .prev-month,
  .next-month {
    color: #cacaca;
  }
}

//RTL adjustment
[dir="rtl"] .calendar-widget {
  .calendar-toolbar {
    .actions {
      .action-icon {
        &:first-child {
          transform: rotate(180deg);
        }

        &:nth-child(2) {
          transform: rotate(-180deg);
        }
      }
    }
  }
}