<nav
  class="menu-sidebar"
  x-data="initSidebarLeft()"
  :class="{
        '': $store.app.sidebarOpenedState,
        'is-sidebar-fold': !$store.app.sidebarOpenedState,
        'is-menu-sidebar-translated-mobile': $store.app.isSidebarOpenedMobile,
    }"
>
  <!-- Menu header -->
  <div class="menu-header">
    <a href="/">
      <img
        class="sidebar-logo"
        src="/img/logo/zod-text-primary.svg"
        alt="Zod logo"
      />
    </a>

    <a
      href="javascript:void(0);"
      class="menu-arrow mask mask-blob"
      @click="closeSidebar()"
    >
      <i class="iconify" data-icon="feather:arrow-left"></i>
    </a>
  </div>

  <!-- Menu account -->
  <div class="menu-account">
    <a class="menu-account-head">
      <span class="avatar is-sm is-reset mask mask-blob">
        <img src="/img/avatars/48.jpg" alt="" />
      </span>
      <div class="meta">
        <span>Welcome,</span>
        <span>Lakisha W.</span>
      </div>
    </a>
  </div>

  <div class="menu-sidebar-inner has-slimscroll">
    <!--Sidebar Menu-->
    {{> sidebar-menu}}
  </div>
</nav>
