<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Zod</title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PV65Z24');</script>
    <!-- End Google Tag Manager -->

    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico&display=swap"
      rel="stylesheet"
    />

    {{#ifpage 'content-crm-board'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.min.css" integrity="sha512-49xW99xceMN8dDoWaoCaXvuVMjnUctHv/jOlZxzFSMJYhqDZmSF/UnM6pLJjQu0YEBLSdO1DP0er6rUdm8/VqA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{/ifpage}}
    <link rel="stylesheet" href="{{root}}/css/app.css" />
    <link rel="stylesheet" type="text/css" href="{{root}}/css/main.css" />
  </head>

  <body
    class="dashboard-body"
    x-data="initTheme()"
    :class="{
      'is-dark': $store.app.isDark,
      '': !$store.app.isDark
    }"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PV65Z24"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!--/partials/sidebar/menu-sidebar.html-->
    {{> menu-sidebar}}

    <!--/partials/navbar/app-navbar.html-->
    {{> app-navbar}}

    <!--/partials/panel/panel.html-->
    {{> panel}}

    <div
      class="zod-wrapper"
      :class="{
        '': $store.app.sidebarOpenedState,
        'is-expanded': !$store.app.sidebarOpenedState
    }"
    >
      <div class="wrapper-inner">
        <!--Static Navbar-->

        <!--Content-->
        <div class="dashboard-content">
          <!--page partial-->
          {{> body}}
        </div>
      </div>
    </div>

    <!--/partials/widgets/demo/lite-cta.html-->
    {{> lite-cta}}

    {{#ifpage 'content-crm-board'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.min.js" integrity="sha512-MrA7WH8h42LMq8GWxQGmWjrtalBjrfIzCQ+i2EZA26cZ7OBiBd/Uct5S3NP9IBqKx5b+MMNH1PhzTsk6J9nPQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{/ifpage}}
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <script src="./js/bundle.js"></script>
  </body>
</html>
