/* ==========================================================================
1. Base Resets
========================================================================== */

:root {
  &.is-dark {
    color-scheme: dark;
  }
}

body {
  direction: $direction;
  text-align: $start-direction;
  background: var(--section-bg-color);
  transition: background-color 0.3s;

  &.dashboard-body {
    background: var(--dashboard-bg-color);
    overflow: hidden;
  }
}

code {
  background: var(--code-bg-color);
  color: var(--code-color);
}

hr {
  height: 1px;
  background: var(--card-border-color);

  &.is-inverted {
    background: var(--dark-bg-light-16);
  }
}
