/*
    1. Base
    2. Media queries
*/

/* ==========================================================================
1. Base
========================================================================== */

.modal {
  &.modal-white {
    .modal-background {
      background: var(--card-bg-color);
    }
  }

  .modal-background {
    background: var(--dark-text);
    opacity: 70%;
  }

  .modal-content {
    animation: fadeInDown 0.5s;
  }
}

/* ==========================================================================
2. Media queries
========================================================================== */

@media screen and (min-width: 769px) {
  .modal.modal-lg {
    .modal-card,
    .modal-content {
      width: 100%;
      max-width: 800px !important;
      margin: 0 auto;
    }
  }

  .modal.modal-md {
    .modal-card,
    .modal-content {
      width: 100%;
      max-width: 500px !important;
      margin: 0 auto;
    }
  }

  .modal.modal-sm {
    .modal-card,
    .modal-content {
      width: 100%;
      max-width: 400px !important;
      margin: 0 auto;
    }
  }
}
