/*
    1. Infraloader
*/

/* ==========================================================================
1. Pageloader / Infraloader
========================================================================== */

.pageloader {
  background-color: var(--dashboard-bg-color);
  transition: opacity 0.35s;
}

.infraloader {
  position: fixed;
  top: 0;
  #{$end-direction}: 0;
  bottom: 0;
  #{$start-direction}: 0;
  width: 100%;
  background: var(--dashboard-bg-color);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.35s;

  &.is-active {
    opacity: 1;
    z-index: 999997;
  }

  &.is-full {
    width: 100% !important;
    #{$start-direction}: 0 !important;
  }
}

@media (max-width: 767px) {
  .infraloader {
    width: 100% !important;
    #{$start-direction}: 0 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .infraloader {
    width: 100% !important;
    #{$start-direction}: 0 !important;
  }
}
